# CartPole + CALSET labels, using training split trajectories only, preloaded in RAM
# 50k pretrain + 70k finetune curriculum
# Usage:
#   python run_experiment.py -c configs/cartpole_50k_70k.yaml

mode: train
experiment_name: cartpole_50k_70k_trainsplit_ram
experiment_class: DeepReach
dynamics_class: CartPole
minWith: target

u_max: 2000
x_bound: 6
xdot_bound: 5
thetadot_bound: 5
set_mode: avoid

# Dataset
data_root: /common/users/ss5772/DeepReach/deepreach/cartpole_pybullet
use_shuffled_indices_only: true
shuffled_indices_file: train_test_splits/shuffled_indices.txt
load_trajectories_in_ram: true
trajectory_uniform_sampling: true
supervised_labels_file: cal_set.txt
num_supervised: 128
supervised_value_safe: -1.0
supervised_value_unsafe: 1.0
supervised_weight: 1.0

tMin: 0.0
tMax: 10.0
numpoints: 1000

# Training: 50k pretrain + 70k finetune curriculum
num_epochs: 120000
pretrain: true
pretrain_iters: 50000
counter_start: 0
counter_end: 70000
lr: 7e-5
num_hl: 2
num_nl: 96
model: sine
steps_til_summary: 2000
epochs_til_ckpt: 5000

device: "cuda:0"
seed: 0
